@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500;600;700&family=Inter:wght@400;500;600&family=Noto+Nastaliq+Urdu:wght@400&display=swap');
@import "tailwindcss";

:root {
  --dark-green: #0A2F23;
  --gold: #C7A86C;
  --neon-green: #00FF66;
  --black: #0C0C0C;
  --sage: #3E6F50;
}
 
 /* buttns  */
.btn {
  padding: 0.75rem 1.5rem;
  font-weight: 600;
  border-radius: 0.375rem;
  transition: all 0.25s ease;
  cursor: pointer;
  border: none;
}

.btn-brown {
  background-color: var(--gold);
  color: white ;
}

.btn-brown:hover {
  background-color: #B49557;
  color: black;
}

.btn-transparent {
  border: 2px solid var(--gold);
  color: var(--gold); 
}

.btn-transparent:hover {
  background-color: var(--gold);
  color: #1a3a2e;                       
}

.btn-green {
  background-color: var(--dark-green);
  color: #ffffff;
}

.btn-green:hover {
  background-color: #2d5a4a;
}


/* google  */
.goog-te-gadget span {
  display: none !important;
}

.goog-te-gadget {
  color: transparent !important;
  font-size: 0px;
}

.goog-text-highlight {
  background: none !important;
  box-shadow: none !important;
}

 
#google_translate_element select {
  background: #ffffff;
  color: #000000;
  border: none;
  outline: none;
  border-radius: 8px;
  padding: 11px 6px;
  border: 1px solid var(--light-gray);
}

.goog-te-gadget {
  font-size: 0 !important;
}

.goog-te-gadget span {
  display: none !important;
}


/* font  */



html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Cormorant Garamond", serif;
}

/* HERO Titles */
h1 {
  font-size: 3.5rem; /* ~56px */
}

/* Section titles */
h2 {
  font-size: 2.5rem; /* ~40px */
}

h3 {
  font-size: 1.5rem; /* ~32px */
}

h4 {
  font-size: 1.5rem; /* ~24px */
}

h5 {
  font-size: 1.25rem; /* ~20px */
}

h6 {
  font-size: 1.1rem; /* ~17px */
}

p,
span,
li,
a {
  font-family: "Inter", sans-serif;
}

a, link {
  text-decoration: none;
  transition: 0.25s ease;
}



.urdu {
  font-family: "Noto Nastaliq Urdu", serif !important;
  direction: rtl;
  text-align: right;
  font-size: 1.1rem;
  line-height: 1.8;
}

